/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Mega Menu CSS */

body,
.fl-page {
    overflow-x: hidden;
}

.fl-page-header-primary .fl-logo-img {
    height: 40px !important;
}

.fl-page-bar .fl-page-bar-text {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
}

.fl-page-bar .fl-page-bar-text a {
    font-weight: 600;
}

.topbar-coupon {
    margin-left: 5px;
}

.fl-page-nav-bottom .fl-page-header-row>* {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.fl-page-header .fl-page-header-content .fl-page-header-text {
    display: inline-block;
    margin: 0 30px 0 0;
    vertical-align: middle;
    font-weight: 600;
    font-size: 14px;
}

.fl-page-header .fl-page-header-text .top-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fl-page-header .fl-page-header-text .top-links .headStoreMobile {
    display: none;
}

.fl-page-header .fl-page-header-text .top-links li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px;
    position: relative;
}

.viewMapLink {
    text-decoration: underline;
    font-weight: 500;
}

#wpsl-gmap img[src*="red@2x"] {
    display: none !important;
}

.fl-page-header .fl-page-header-text .top-links li a {
    color: #222222;
}

.fl-page-header .fl-page-header-text .top-links li a small {
    display: block;
    font-size: 8.6px;
    letter-spacing: 0.3px;
}

.fl-page-header .fl-page-header-text .top-links li a small em {
    font-style: normal;
    color: #8E4162;
}

.fl-page-header .fl-page-header-text .top-links li a:hover {
    color: #8a2767;
    text-decoration: none;
}


/* Header Store Locator */

.header_store {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    background: #fff;
    width: 450px;
    border: 1px solid #f9f9f9;
    text-align: left;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    margin-top: 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    border-top: 1px solid #cccccc;
    box-shadow: 0 0 10px 0 #cccccc;
    -webkit-box-shadow: 0 0 10px 0 #cccccc;
    -moz-box-shadow: 0 0 10px 0 #cccccc;
}

.header_store div.wpsl-search-widget {
    padding: 15px 50px 20px;
}

#wpsl-widget-form label {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
}

.headStoreWrap {
    display: flex;
    justify-content: space-between;
}

.headStoreWrap input[type="text"] {
    margin-right: 15px;
}

.headStoreWrap input[type="submit"] {
    min-width: 75px;
}

#str_locator h6:before {
    content: '';
    margin-right: 10px;
    background: url(/wp-content/uploads/2019/03/location_placeholder.png) no-repeat 0 8px;
    background-size: contain;
    height: 25px;
    width: 15px;
    display: inline-block;
    vertical-align: bottom;
}

div#str_locator:before {
    content: '';
    height: 17px;
    width: 17px;
    background: #fff;
    display: inline-block;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    transform: rotate(45deg);
    position: absolute;
    right: 70px;
    top: -9px;
}

.header_store.active {
    opacity: 1;
    visibility: visible;
    margin-top: 20px;
    height: calc(100vh - 100px);
}

.header_store .header_store_listing .wpsl-gmap-canvas {
    display: none;
}

.header_store .header_store_listing #wpsl-result-list {
    width: 100%;
    margin: 0px;
}

.header_store .header_store_listing #wpsl-stores {
    flex: 1;
}

.header_store .wpsl-contact-details,
.header_store .sfn-store-links-wrapper {
    display: none;
}

#str_locator h4 {
    text-align: center;
    color: #222222;
    font-weight: bold;
    margin-top: 15px;
}

#str_locator h6 {
    text-align: center;
    color: #222222;
    font-weight: normal;
    margin: 18px 0;
}

.GetCouponBtn .fl-button {
    padding: 6px 10px !important;
    font-size: 9px !important;
    background: #8A2767 !important;
}

.GetCouponBtn .fl-button:hover {
    background: #e8e8e8 !important;
}


/* Search */

.fl-page-nav-search {
    position: static;
    display: inline-block;
    vertical-align: middle;
}

.fl-page-nav-search a.fa-search {
    position: static;
}

.fl-page-header-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fl-page-nav .fl-page-nav-collapse {
    margin: 0 -30px;
}

.fl-page-nav ul.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fl-page-nav ul.navbar-nav>li>a {
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer !important;
    display: block;
}

.fl-page-nav ul.navbar-nav>li:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 3px solid #222;
    position: relative;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.fl-page-nav ul.navbar-nav>li:hover:after,
.fl-page-nav ul.navbar-nav>li:hover:after,
.fl-page-nav ul.navbar-nav>li.current-menu-item:after,
.fl-page-nav ul.navbar-nav>li.current_page_item:after,
.fl-page-nav ul.navbar-nav>li.current-page-ancestor:after {
    opacity: 1;
    visibility: visible;
}

.fl-page-nav ul.sub-menu li a {
    margin: 0;
    padding: 7px 0;
    cursor: pointer !important;
}

ul.navbar-nav li.mega-menu .sub-menu {
    padding: 0 !important;
}

ul.navbar-nav li.mega-menu .sub-menu:before,
ul.navbar-nav li.mega-menu .sub-menu:after {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 99.9%;
    background: inherit;
    width: 1000%;
    height: 100.8%;
    border-top: inherit;
    z-index: 1;
}

ul.navbar-nav li.mega-menu .sub-menu:before {
    left: auto;
    right: 99.9%;
}

ul.navbar-nav li.mega-menu .sub-menu .yawp_wim_title {
    display: none;
}

.fl-page-nav ul.sub-menu li .fl-callout-title a {
    font-weight: inherit;
}


/* Brands Mega Menu CSS */

.brand-mega-menu .fl-module-tabs.full-width-tab>.fl-module-content>.fl-tabs>.fl-tabs-labels {
    background: #000;
    position: relative;
    text-align: center;
}

.brand-mega-menu .fl-module-tabs.full-width-tab>.fl-module-content>.fl-tabs>.fl-tabs-labels:before,
.brand-mega-menu .fl-module-tabs.full-width-tab>.fl-module-content>.fl-tabs>.fl-tabs-labels:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    background: inherit;
    width: 1000%;
    height: 100%;
    z-index: 2;
}

.brand-mega-menu .fl-module-tabs.full-width-tab>.fl-module-content>.fl-tabs>.fl-tabs-labels:before {
    left: auto;
    right: 100%;
}

.brand-mega-menu .fl-module-tabs.full-width-tab>.fl-module-content>.fl-tabs .fl-tabs-labels>.fl-tabs-label {
    color: #fff;
    float: none;
    display: inline-block;
    text-align: center;
    background: none;
    padding: 15px 40px;
    opacity: 0.6;
    border: 0;
    outline: none;
}

.brand-mega-menu .fl-module-tabs.full-width-tab>.fl-module-content>.fl-tabs .fl-tabs-labels>.fl-tabs-label.fl-tab-active {
    opacity: 1;
}

.brand-mega-menu .fl-module-tabs.mega-menu-sub-tabs .fl-tabs .fl-tabs-labels {
    text-align: center;
}

.brand-mega-menu .fl-module-tabs.mega-menu-sub-tabs .fl-tabs .fl-tabs-labels .fl-tabs-label {
    color: #000 !important;
}

.mega-menu-bottom-offer .fl-rich-text img.alignnone {
    margin: 0 10px 0 0;
}

.mega-menu-bottom-offer .fl-rich-text p:last-child {
    margin-bottom: 0;
}

.mega-menu-bottom-offer .fl-rich-text .fa {
    font-size: 20px;
    vertical-align: middle;
    margin: -3px 0 0 10px;
    font-family: "FontAwesome";
}

.brands-tab-list ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.brands-tab-list ul li {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding: 0 15px;
    text-align: center;
}

.brands-tab-list ul li.align-left {
    text-align: left;
}

.brands-tab-list ul li img {
    margin: 0 0 15px;
}

.brands-tab-list ul li strong {
    color: #222222;
    font-weight: 400;
    line-height: 20px;
}


/* Footer */

.footer-top-sidebar .widget_media_image img {
    display: block;
    margin: 0 auto;
}

.fl-page-footer-widgets {
    font-weight: 500;
    border-color: #979797;
}

.fl-page-footer-widgets .fl-widget-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    color: #222;
}

.fl-page-footer-widgets .menu li {
    margin-bottom: 15px;
}

.fl-page-footer-widgets .menu li a {
    text-decoration: none;
}

.menu-footer-4-container .menu li.nav-button a {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    background: #8a2767;
    border: 1px solid #8a2767;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.menu-footer-4-container .menu li.nav-button a:hover {
    color: #8a2767;
    border-color: #8a2767;
    background: #fff;
}

.fl-page-footer {
    border-top: 1px solid #7c7c7c;
    background: #fff;
    color: #c7c7cc;
    font-size: 13px;
    font-weight: 500;
}

.fl-page-footer .footer-links {
    list-style: none;
    margin: 0 0 0 40px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

.fl-page-footer .footer-links li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
}

.fl-page-footer .footer-links li a {
    color: #7c7c7d;
    text-decoration: none;
}

.fl-page-footer .footer-links li a:hover {
    color: #8a2767;
}

.fl-page-footer .footer-links li:last-child {
    margin-right: 0;
}


/*Home Page CSS*/

.make-bg-full-width-left,
.make-bg-full-width-right {
    position: relative;
}

.make-bg-full-width-left>.fl-col-content:before,
.make-bg-full-width-right>.fl-col-content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 1000%;
    height: 100%;
    background: inherit;
}

.make-bg-full-width-left>.fl-col-content:before {
    left: auto;
    right: 100%;
}

.retailer-testimonial-slider .fl-content-slider .bx-wrapper {
    margin-bottom: 0;
}

.retailer-testimonial-slider .fl-content-slider .bx-pager {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.retailer-testimonial-slider .fl-content-slider .bx-pager .bx-pager-item a {
    background: #dedede;
}

.retailer-testimonial-slider .fl-content-slider .bx-pager .bx-pager-item a:hover,
.retailer-testimonial-slider .fl-content-slider .bx-pager .bx-pager-item a.active {
    background: #000;
}

.retailer-testimonial-slider .fl-content-slider .fl-slide-foreground {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.retailer-testimonial-slider .fl-content-slider .fl-slide-text {
    color: #fff;
    font-size: 27px;
    line-height: 37px;
    font-style: italic;
    font-weight: 300;
}

.retailer-testimonial-slider .fl-content-slider .fl-slide-text small {
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
    display: block;
}

.iscwp-gallery-slider .slick-dots li button,
.bx-wrapper .bx-pager.bx-default-pager a {
    border-color: #c7c7c7;
    background: #c7c7c7 !important;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50px;
}

.iscwp-gallery-slider .slick-dots li.slick-active button,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #444 !important;
    border-color: #444;
}

.njba-logo-inner {
    background: transparent;
    border: 0;
}


/*Instagram CSS*/

.iscwp-image-fit.slidestoshow-5 .iscwp-img-wrp {
    height: auto;
}


/* Contact Form CSS */

.gform_wrapper .gfield_label {
    color: #000;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea {
    padding: 10px;
    height: auto;
    border-radius: 0;
    border: 1px solid #c3c3c3;
    background: #fff;
}

.gform_wrapper .ginput_container input[type="checkbox"],
.gform_wrapper .ginput_container input[type="radio"] {
    margin: 0;
    width: 20px;
    height: 20px;
}

.gform_wrapper .ginput_container .gfield_consent_label {
    color: #87888c;
    font-weight: 400;
    margin-left: 5px;
    vertical-align: top;
}

.gform_wrapper .ginput_container .gfield_consent_label a {
    color: #000;
}

.gform_wrapper .gform_footer {
    text-align: center;
}

.gform_wrapper .gform_footer .gform_button {
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #000;
    background: #000;
    color: #fff;
}

.gform_wrapper .gform_footer .gform_button:hover {
    border: 1px solid #000;
    color: #000;
    background: #fff;
}


/* Retailer Contact Page */

.retailer-contact-info .fl-icon {
    vertical-align: top;
    padding-top: 5px;
}


/* Retailer  landing page sale */

.formTitle .fl-rich-text strong {
    font-weight: 800;
}


/* .formSaleImage .fl-row-content {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.58);
}
 */

.zindexOverlay {
    z-index: 1;
    position: relative;
}

.retailerGallery .fl-photo-caption-below {
    font-size: 16px;
    font-weight: 600;
    color: #222;
}


/* Global Retailer Footer */

.GlobalFooterColumn h2.widgettitle {
    color: #222222;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
}

.GlobalFooterColumn .menu>li a {
    color: #686868;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
}

.GlobalFooterColumn .menu>li {
    margin-bottom: 4px !important;
}


/* SEM Retailer Footer */

.semPage-Noheaderfooter footer#djcustom-footer {
    display: none;
}

.SEMFooterColumn h2.widgettitle {
    font-size: 17px;
    font-weight: bold;
}

.customCheckbox input {
    position: absolute;
    visibility: hidden;
}

.customCheckbox .gfield_consent_label {
    position: relative;
}

.customCheckbox input+label {
    position: relative;
    margin-left: 0 !important;
    padding-left: 35px;
}

.customCheckbox input+label:before {
    content: '';
    border: 1px solid #c3c3c3;
    height: 24px;
    width: 24px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.customCheckbox input:checked+label:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 5px;
    background: #8a2767;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    top: 5px;
}


/* Form error */

.fl-page-content .gform_wrapper div.validation_error {
    margin-bottom: 0;
    border-bottom: 0;
    padding-top: 0;
    border-top: 0;
    display: none;
}

.fl-page-content .gform_wrapper .top_label li.gfield.gfield_error.gf_left_half {
    margin-right: 16px !important;
}

.fl-page-content .gform_wrapper .field_description_below .gfield_description {
    padding-top: 2px;
}

.fl-page-content .gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 16px 0 0 0 !important;
}

.fl-page-content .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    position: absolute;
    visibility: hidden;
}

.fl-page-content .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label,
body .gform_wrapper .top_label div.ginput_container {
    margin-top: 5px !important;
}

.fl-page-content .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0 !important;
}


/* Retailer Landing Page  */

.wpsl-search {
    background: transparent;
}

#wpsl-wrap {
    display: flex;
    flex-direction: row-reverse;
}

#wpsl-search-wrap>form .wpsl-search-btn-wrap {
    padding: 6px 10px;
}

#wpsl-result-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 40px;
}

#wpsl-wrap #wpsl-direction-details,
#wpsl-wrap #wpsl-gmap {
    height: 700px !important;
}

#wpsl-wrap #wpsl-stores {
    height: 570px !important;
    font-size: 13px;
}

#wpsl-search-btn,
#wpsl-search-wrap div {
    float: none;
}

#wpsl-search-wrap>form {
    /* display: flex;
    flex-wrap: wrap; */
}

#wpsl-result-list .wpsl-search {
    background: none;
    padding: 0;
}

#wpsl-search-wrap>form .wpsl-input {
    margin-right: 0;
    width: 100%;
}

#wpsl-search-wrap>form .wpsl-input #wpsl-search-input {
    width: 100%;
}

#wpsl-search-wrap>form .wpsl-select-wrap {
    flex: 10;
    margin: 0;
    width: 80%;
    float: left;
}

#wpsl-search-wrap>form .wpsl-select-wrap * {
    width: 100%;
}

#wpsl-search-wrap>form .wpsl-search-btn-wrap {
    margin: 0;
    background: #000;
    width: 19%;
    text-align: center;
    float: right;
    padding: 6px 10px;
    position: relative;
    top: 1px;
    clear: none;
}

#wpsl-search-wrap>form .wpsl-search-btn-wrap #wpsl-search-btn {
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 0;
}

#wpsl-search-wrap>form .wpsl-search-btn-wrap:before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
}

#wpsl-search-wrap>form .wpsl-input label {
    width: auto;
    font-size: 11px;
    letter-spacing: 0.4px;
    line-height: 2;
    font-weight: 500;
    color: #222222;
}

.listingTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listingTitle,
.listingTitle>h3,
.strtitle {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    color: #222;
}

.sfn-store-links>li {
    margin: 0 0 10px;
    font-size: 11px;
    font-weight: 600;
}

.storeAddress {
    font-size: 13px;
    font-weight: 300;
    color: #222;
    padding-right: 20px;
}

.storeDetails {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: 5px;
}

.Coupon-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Coupon-wrapper .couponcode {
    font-size: 15.88px;
    font-weight: 600;
    color: #8A2767;
    letter-spacing: 0.42px;
}

.Coupon-wrapper .couponcode sup,
.Coupon-wrapper .couponcode * {
    color: #8A2767;
}

.mystorelink {
    color: #222222;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
}

#wpsl-wrap #wpsl-result-list #wpsl-stores>ul {
    counter-reset: my-awesome-counter;
}

#wpsl-wrap #wpsl-result-list #wpsl-stores>ul>li {
    counter-increment: my-awesome-counter;
    padding-left: 40px;
    position: relative;
    background: url(/wp-content/uploads/2019/03/location_placeholder.png) no-repeat 0 8px;
    border-color: #000;
    margin-right: 20px;
    margin-bottom: 10px;
    border-bottom-style: solid;
}

#wpsl-wrap #wpsl-result-list #wpsl-stores>ul>li:not(.wpsl-no-results-msg):before {
    content: counter(my-awesome-counter);
    font-size: 12px;
    letter-spacing: 0.47px;
    left: 7px;
    top: 11px;
    position: absolute;
    width: 20px;
    color: #fff;
    text-align: center;
}

.mystorelink {
    position: relative;
}

.mystorelink input {
    visibility: hidden;
    position: absolute;
}

.mystorelink input+label:before {
    content: '';
    border: 1px solid #c3c3c3;
    height: 24px;
    width: 24px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
}

.mystorelink input+label.activeStore:after,
.mystorelink input:checked+label:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 5px;
    background: #8a2767;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    top: 5px;
}


/* width */

#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul::-webkit-scrollbar,
#wpsl-stores::-webkit-scrollbar,
div#header_storeListing::-webkit-scrollbar {
    width: 5px;
}


/* Track */

#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul::-webkit-scrollbar-track,
#wpsl-stores::-webkit-scrollbar-track,
div#header_storeListing::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul::-webkit-scrollbar-thumb,
#wpsl-stores::-webkit-scrollbar-thumb,
div#header_storeListing::-webkit-scrollbar-thumb {
    background: #222;
}

.brandMenu .current-menu-item>a {
    font-weight: 600 !important;
}


/* Handle on hover */

#wpsl-stores::-webkit-scrollbar-thumb:hover,
div#header_storeListing::-webkit-scrollbar-thumb:hover {
    background: #111;
}

.SEMFooterColumn .menu>li {
    font-weight: 500;
    font-weight: 14px;
}

.fl-page-header .fl-page-header-text .top-links li a.btnmystore {
    padding: 10px 15px;
    display: inline-block;
}

.headmystorelink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header_store_listing .storeDetails {
    display: block;
    margin-bottom: 10px;
}

div#header_storeListing {
    font-size: 0;
}

div#header_storeListing ul {
    font-size: 13px;
}

div#header_storeListing ul li {
    width: 100%;
    padding-bottom: 10px !important;
}

div#header_storeListing ul {
    padding: 0 30px;
}

div#header_storeListing {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    overflow-y: scroll;
    height: calc(100vh - 330px);
}

div#header_storeListing .Store_list_item {
    padding-right: 40%;
}

div#header_storeListing .storeAddress {
    padding-right: 0;
}

div#header_storeListing .Couponlinks-wrap {
    width: 165%;
}

div#header_storeListing .Couponlinks-wrap .mystorelink,
div#header_storeListing .store_map_link {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    z-index: 3;
}

div#header_storeListing .store_map_link .headmystorelink {
    display: block;
    text-align: right;
}

div#header_storeListing .Coupon-wrapper {
    justify-content: space-between;
}

div#header_storeListing .Coupon-wrapper .GetCouponBtn a {
    color: #fff;
    display: inline-block;
    font-size: 10px !important;
    padding: 8px 15px !important;
    text-decoration: none;
}

div#header_storeListing .Coupon-wrapper .GetCouponBtn a:hover {
    background: #000 !important;
    color: #fff;
    text-decoration: none;
}

div#header_storeListing .store_map_link {
    display: none;
}

div#header_storeListing ul li.current-my-store .Couponlinks-wrap .mystorelink input:checked {}


/* div#header_storeListing ul li.current-my-store .Couponlinks-wrap .mystorelink{
    display: none;
} */


/* Location Counter */

.parentLocator {
    counter-reset: locationCounter;
}

.parentLocator>div:not(:first-child) {
    opacity: 1 !important;
    counter-increment: locationCounter;
}

.parentLocator>div>img {
    visibility: hidden;
}

.parentLocator>div:not([title="Start location"]):after {
    content: counter(locationCounter);
    font-size: 12px;
    color: #fff;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    display: block;
    position: relative;
    box-sizing: unset;
    text-align: center;
    padding: 5px 2px;
    background: #000000;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 14px;
    margin: 0 auto;
}

.parentLocator>div.activeMarker::after {
    background: #8A2767;
}

.parentLocator>div.activeMarker {
    background: url('/wp-content/uploads/2019/04/purple_my_marker@2x.png');
    background-size: contain;
}

.pageScrollTabs .fl-col a.njba-btn {
    text-transform: uppercase;
}

.pageScrollTabs .fl-col.activeLink a.njba-btn {
    font-weight: 600 !important;
    color: #222222 !important
}

.pageScrollTabs .fl-col.activeLink a.njba-btn .dashicons.dashicons-before {
    color: #8A2767;
}


/* Product Listing page  */

.collectionLinks a.active:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.collectionLinks a.active {
    color: #222222 !important;
    font-weight: 600 !important;
}

.numberOflist>.fl-col-content {
    counter-reset: myListCounter;
}

.numberOflist .fl-module-callout {
    counter-increment: myListCounter;
}

.numberOflist .fl-module-callout .fl-callout-content {
    position: relative;
}

.numberOflist .fl-module-callout .fl-callout-content:before {
    content: counter(myListCounter);
    position: absolute;
    left: -45px;
    font-size: 53px;
    line-height: 1;
    font-weight: 600;
    color: #FF3A00;
    width: 45px;
}


/*  */

.fl-post-product-image {
    position: relative;
    text-align: center;
}

.product_details_link {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all .25s ease .05s;
    transition: all .25s ease .05s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


/* .fl-post-grid-post:hover .product_details_link */

.fl-post-grid-post:hover .product_details_link {
    opacity: 1;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}

.product_details_link>.fl-button {
    margin-bottom: 15px
}

.fl-button-rev.fl-button {
    border-color: #ffffff !important;
    background: #ffffff !important;
    color: #222222 !important;
}

.fl-button-rev.fl-button:hover {
    background: #222222 !important;
    border-color: #222222 !important;
    color: #ffffff !important;
}

.fl-post-grid-text>h4 {
    font-size: 18px;
    font-weight: 500;
}

.fl-post-grid-text .found {
    color: #222222;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
}

.fl-post-grid-post {
    margin-bottom: 30px;
    min-height: 300px;
}


/*
.fl-post-grid-image img.swatch_img{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;    
    -webkit-transition: all .25s ease .05s;
    transition: all .25s ease .05s;
}
 .fl-post-grid-post:hover img.room_img{
    opacity: 0;
}
.fl-post-grid-post:hover img.swatch_img{
    opacity: 1;   
} */

.fl-post-grid-image img {
    width: 100%;
}


/* Facet CSS */

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}


/* Facet Per Page */

.facetwp-per-page {
    text-align: right;
}

.facetwp-per-page select {
    padding: 5px;
}


/* Facet Pager */

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager,
.bottom-per-page .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}


/* Facet Page */

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.faceted_results {
    margin-top: 20px;
}


/* Facet Filters */

.facet-wrap {
    margin: 0 30px 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 13px;
    font-weight: 400;
    color: #454545;
}

.facet-wrap.is-hidden {
    display: none !important;
}

.facet_filters {
    z-index: 9991 !important;
}

.facet_filters .facetwp-facet {
    margin-bottom: 0;
}

.facet-wrap .facetwp-facet .facetwp-checkbox {
    background: none;
    padding-left: 0;
    margin-bottom: 10px;
}

.facet-wrap .facetwp-facet .facetwp-checkbox.checked {
    color: #454545;
    font-weight: 600;
}

.facet_filters strong {
    font-size: 13px;
    color: #222222;
    display: block;
    margin: 0 0 15px;
    text-transform: uppercase;
    letter-spacing: 0.47px;
}

.facet_filters a.reset-filter {
    display: block;
    color: #222222;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
    margin: 0 30px 30px 0;
    letter-spacing: 0.47px;
}

.facet-inner {
    max-height: 360px;
    overflow: auto;
}

.facet_filters .close_bar {
    background: none !important;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.facet_filters .close_bar .close {
    color: #000 !important;
    font-size: 25px;
}

.facet_filters .close_bar,
.open_sidebar,
.close_sidebar_button {
    display: none;
}

@media (max-width: 768px) {
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facet_filters {
        position: fixed;
        top: 0px;
        bottom: 0;
        height: auto;
        left: -5px;
        padding: 20px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100% !important;
        text-align: center;
    }
    .open_sidebar,
    .facetwp-counts,
    .facetwp-per-page,
    #product-list-top-filters .fl-heading {
        text-align: center !important;
    }
    .facetwp-counts {
        margin-bottom: 10px;
    }
    .facetwp-pager {
        float: none;
        margin-top: 10px;
    }
    .open_sidebar a {
        float: none !important;
    }
}

button#responsive-menu-button {
    z-index: 999 !important;
}

.product-row h2 {
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: 500;
    color: #212121;
}

.product-row h4,
.product-row h5 {
    color: #212121;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

.product-row .color-count {
    font-size: 12px;
    color: #626262;
    font-weight: 500;
}

.product-row .fl-post-grid-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    background: #fff;
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ececec;
}

.product-row .fl-post-grid-image>a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.product-row .fl-post-grid-image>a>img {
    max-width: none;
    margin: 0 auto;
    display: block;
    min-width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: auto;
}

.fl-post-product-image:hover .swatch_img {
    opacity: .5;
}

.product-row .fl-post-grid-image .button-wrapper {
    position: absolute;
    top: 130%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.product-row .fl-post-grid-image:hover .button-wrapper {
    top: 0;
}

.product-row .fl-post-grid-image .button-wrapper a.button {
    padding: 8px 20px;
    display: inline-block;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    text-align: center;
    margin: 7px 0;
    min-width: 150px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.47px;
    text-transform: uppercase;
}

.product-row .fl-post-grid-image .button-wrapper a.button:hover,
.product-row .fl-post-grid-image .button-wrapper a.button.alt {
    background: #000;
    color: #fff;
}

.product-row .fl-post-grid-image .button-wrapper a.button.alt:hover {
    background: #fff;
    color: #000;
}

.product-row>div.col-md-4:nth-child(3n+1) {
    clear: left;
}

.product-row>div.col-md-3:nth-child(4n+1) {
    clear: left !important;
}

@media (max-width:768px) {
    .facetwp-template .product-grid .product-row>.col-md-4 {
        width: 33.33%;
        float: left;
        clear: none !important;
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left !important;
    }
}

@media (max-width: 767px) {
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center;
    }
    .product-row.featured h4 {
        margin-bottom: 20px;
    }
}

@media (max-width: 599px) {
    .facetwp-template .product-grid .product-row>.col-md-4 {
        width: 50%;
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: none !important;
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(2n+1) {
        clear: left !important;
    }
}


/* Product Details Page */

.product-detail-top>.row {
    display: flex;
    flex: 1;
    align-items: stretch;
}

#product-images-holder {
    height: 100%;
    min-height: 450px;
    position: relative;
}

.product-swatch .img-responsive {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.product-swatch .img-responsive img {
    display: none;
    margin: 0 auto;
}

.product-swatch .img-responsive .popup-overlay-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.product-box .product-box-inner {
    padding: 0 20px;
}

.product-box .product-box-inner .fl-post-title-collection,
.product-box .product-box-inner h3 {
    margin: 0;
}

.product-box .product-box-inner .fl-post-title-style {
    margin: 0 0 15px;
}

.product-box .button-wrapper {
    margin: 20px 0 0;
}

.product-box .button-wrapper a.button {
    padding: 10px 20px;
    display: block;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    text-align: center;
    margin: 15px 0;
    min-width: 150px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.47px;
    text-decoration: none;
    text-transform: uppercase;
}

.product-box .button-wrapper a.button:hover,
.product-box .button-wrapper a.button.alt {
    background: #000;
    color: #fff;
}

.product-box .button-wrapper a.button.alt:hover {
    background: #fff;
    color: #000;
}

.image-thumbnails .popup-icon {
    display: inline-block;
    padding: 20px 0px 0 10px;
}

.toggle-image-thumbnails {
    padding-bottom: 15px;
    margin: 20px 0 25px;
}

.toggle-image-thumbnails .toggle-image-holder {
    text-align: center;
    padding: 0 5px;
}

.toggle-image-thumbnails .slick-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0 0 0px 10px;
    font-size: 20px;
    cursor: pointer;
}

.toggle-image-thumbnails .slick-arrow.prev {
    margin-left: -15px;
}

.toggle-image-thumbnails .slick-slide {
    outline: none;
}

.toggle-image-thumbnails .product_gallery_img {
    border: 2px solid #fff;
}

.toggle-image-thumbnails .product_gallery_img.active {
    border-color: #000;
}

.toggle-image-thumbnails .slick-slide .product_gallery_img {
    margin-right: 0;
}

.product-variations {
    padding: 15px 0px;
    margin: 20px 0;
    background: #f7f7f7;
    position: relative;
}

.product-variations:before,
.product-variations:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    width: 1000%;
    height: 100%;
    background: inherit;
}

.product-variations:after {
    right: auto;
    left: 100%;
}

.product-variations .slick-arrow {
    z-index: 5;
    font-size: 26px;
}

.product-variations .slick-arrow.slick-disabled {
    opacity: 0.3;
    color: #222;
    cursor: default;
}

.product-variations .slick-list {
    padding: 0 20px;
}

.product-attributes-section {
    margin-top: 30px;
}

.product-attributes {
    padding: 0 20px;
}

.product-attributes h3 {
    margin-top: 0;
}


/* Thank You Coupon */

#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul {
    margin: 0 !important;
}

#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul>li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none !important;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

#gform_page_16_1>.gform_page_footer,
#gform_page_16_2>.gform_page_footer {
    border: 0;
    text-align: center;
}

#gform_page_16_1>.gform_page_footer .button,
#gform_page_16_2>.gform_page_footer .button,
#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul>li .button {
    padding: 10px 15px;
}

#gform_page_16_2>.gform_page_footer {
    height: 0;
    visibility: hidden;
}

#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul>li .strtitle {
    font-size: 14px;
    font-weight: 600;
}

#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul>li .storeAddress {
    font-size: 12px;
    font-weight: 300;
}

#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul>li .store_map_link h3 {
    font-weight: 600;
    font-size: 14px;
    margin: 0 20px;
    text-align: right;
    width: 60px;
}

#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul>li .headmystorelink {
    margin: 0;
}

#gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul {
    max-height: 500px;
    overflow: auto;
    padding-right: 20px;
}


/* Common CSS Overwite - SP */

.retailer-contact-info .fl-icon-text span,
.addressBlock .fl-icon-text span {
    display: initial;
}

.retailer-contact-info .fl-icon-text br+br:last-child,
.addressBlock .fl-icon-text>p>br+br:last-child {
    display: none;
}

.fl-page-header-primary .fl-logo-img {
    width: auto !important;
}

.headStoreMobile>.open-stores .fa.fa-map-marker:before {
    content: "\f041";
}

.toggle-image-thumbnails {
    text-align: center;
}

.toggle-image-thumbnails>.toggle-image-holder {
    display: inline-block;
    vertical-align: top;
}


/* Responsive Menu CSS - SP */

#responsive-menu-container #responsive-menu>li.responsive-menu-item:first-child>a.responsive-menu-item-link {
    border-top: 0;
}

#responsive-menu-container #responsive-menu>li.responsive-menu-item:first-child>ul.responsive-menu-submenu-depth-1>li.menu-item>a.responsive-menu-item-link>.responsive-menu-subarrow {
    display: none;
}

#responsive-menu-container #responsive-menu>li.responsive-menu-item:first-child ul.responsive-menu-submenu-depth-2 {
    display: block !important;
}

#responsive-menu-container #responsive-menu>li.responsive-menu-item:first-child>ul.responsive-menu-submenu-depth-1>li.menu-item {
    padding-bottom: 10px;
    background: #f9f9f9;
}

#responsive-menu-container #responsive-menu>li.responsive-menu-item:first-child>ul.responsive-menu-submenu-depth-1>li.menu-item>a.responsive-menu-item-link {
    font-weight: 600;
    line-height: 24px;
}

#responsive-menu-container #responsive-menu>li.responsive-menu-item:first-child ul.responsive-menu-submenu-depth-2 a.responsive-menu-item-link {
    line-height: 30px;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link {
    font-weight: 500;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-subarrow {
    background: transparent !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-subarrow.responsive-menu-subarrow-active {
    border-bottom: 1px solid #ddd;
    border-left: 0;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu a.responsive-menu-item-link {
    padding-left: 5%;
    font-weight: 500;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.menu-item a.responsive-menu-item-link>.responsive-menu-subarrow {
    border: 0;
}

article.page #wpsl-wrap select.wpsl-dropdown,
article.page #wpsl-wrap .wpsl-dropdown>select {
    padding: 9px 12px!important;
    /*display: block !important;*/
}


/* article.page #wpsl-wrap .wpsl-dropdown > span,
article.page #wpsl-wrap .wpsl-dropdown > div{ display: none;} */

.same-page-links .uabb-creative-link .uabb-cl-heading:after {
    content: "\f347";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    text-align: center;
    transition: color .1s ease-in;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #626262;
}

.same-page-links .uabb-cl-style3 a::after {
    width: calc(100% + 20px);
}

#gform_page_16_2 .storeDetails {
    grid-template-columns: 100%;
}

.borderDashed {
    padding: 5px;
    border: #ccc 2px dashed;
}

.flexSEMaddressPhone {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 10px;
    color: #000;
    font-weight: 600;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.storeAddress p {
    margin-bottom: 0;
}

.use-current-loc-wrap a.usercurent {
    font-size: 13px;
    margin-left: 10px !important;
    text-decoration: underline;
    letter-spacing: 0.35px;
}

#gform_wrapper_16 .formTitle {
    color: #222;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

#gform_wrapper_16 .formTitle p {
    margin-bottom: 0;
}

#gform_wrapper_16 .gfield_html h4 {
    text-align: center;
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 500;
}

.fl-accordion .fl-accordion-button-icon {
    font-family: "FontAwesome";
}

body.search .fl-archive-header {
    margin-top: 40px;
}

body.search .row.product-row {
    margin: 0;
}

.landingPhone .fa.fa-phone {
    margin-right: 16px;
    font-size: 18px;
    color: #8a2767;
    vertical-align: middle;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#printCoupon .fa.fa-phone {
    display: none;
}

.breadcrumbs {
    display: none;
}


/* CSS added by ram for contnat form alignment*/

body .gform_wrapper ul li.gfield {
    margin-top: 10px;
}

.gform_wrapper .top_label .gfield_label,
.gform_wrapper legend.gfield_label {
    margin-bottom: 0;
}

.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.gform_wrapper textarea {
    padding: 8px 10px;
}

div#sfnlocator-wrap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 35%;
    padding-right: 30px;
}

#wpsl-result-list {
    width: 100%;
    margin: 0;
}

.saleBannerRetailer,
.saleBannerRetailer *,
.saleBannerRetailer img.fl-photo-img {
    height: 100%;
}

.homepageBanner .fl-slide-content {
    padding: 0 !important;
}

.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-pager {
    bottom: -40px;
}

#wpsl-result-list .wpsl-contact-details span {
    display: inherit !important;
}

#wpsl-result-list .wpsl-contact-details>span {
    display: block !important;
}

.footer-coupon-banner .fl-col-group .fl-col {
    width: 100%;
}

.footer-coupon-banner .fl-col-group .fl-col .fl-photo-content img {
    width: 100vw;
}

#printCoupon>.fl-row-content-wrap {
    border: 0;
	padding: 20px;
}

#printCoupon>.fl-row-content-wrap .fl-col-group:nth-child(3) .fl-node-content{
	background: #f3f2f2;
}

#printCoupon>.fl-row-content-wrap .fl-col-group:nth-child(2) 


/*  Chooose your Color */

.colors-list {
    position: relative;
    overflow: hidden;
}

.colors-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -15px;
}

.colors-list ul li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 30px;
    padding: 0 15px;
}

.colors-list ul li .prod_img {
    position: relative;
    max-height: 300px;
    overflow: hidden;
}

.colors-list ul li .product-info-box {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.48);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.colors-list ul li .prod_img:hover .product-info-box {
    opacity: 1;
}

.colors-list ul li .product-info-box-inner {
    text-align: center;
    width: 100%;
    color: #fff;
}

.colors-list ul li .product-info-box-inner h6 {
    color: #fff;
    font-size: 31px;
    font-weight: 300;
    margin: 0 0 20px;
}

.readmore-link {
    position: relative;
    color: #fff;
    font-family: 'Kalam', cursive;
    font-size: 14px;
    font-weight: 700;
}

.readmore-link:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url("resources/read-more-blue-arrow.png") no-repeat center;
    width: 23px;
    height: 23px;
    background-size: 10px;
    margin-left: 5px;
}

.readmore-link:hover {
    color: #2FB3BE;
}

.style-list {
    position: relative;
    background: #f9f9f9;
    padding: 30px 0;
    max-width: 1190px;
    margin: 0 auto;
}

.style-list:before,
.style-list:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 1000%;
    height: 100%;
    background: inherit;
    z-index: 0;
}

.style-list:before {
    left: auto;
    right: 100%;
}

.style-list ul {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
    z-index: 1;
}

.style-list ul li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: 30px 0;
    padding: 0 15px;
}

.style-list ul li .style-li-inner {
    background: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.style-list ul li .style-li-inner .prod_img {
    max-height: 275px;
    overflow: hidden;
}

.style-list ul li .product-info-box {
    padding: 15px;
}

.style-list ul li .product-info-box h6 {
    margin: 0;
    font-size: 17px;
    color: #000;
    font-weight: 400;
}

.style-list ul li.active .style-li-inner {
    background: #fff;
    box-shadow: 0px 1px 10px 4px rgba(155, 155, 155, 0.6);
    -webkit-box-shadow: 0px 1px 10px 4px rgba(155, 155, 155, 0.6);
    -moz-box-shadow: 0px 1px 10px 4px rgba(155, 155, 155, 0.6);
    -o-box-shadow: 0px 1px 10px 4px rgba(155, 155, 155, 0.6);
    -ms-box-shadow: 0px 1px 10px 4px rgba(155, 155, 155, 0.6);
}

.style-list ul li.active .product-info-box h6 {
    font-weight: 600;
}

.style-product_list .pro-container {
    display: none;
}

.style-product_list .pro-container>.row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0;
}

.style-product_list .pro-container>.row>div {
    padding: 0;
}

.style-product_list .pro-container>.row>.col-md-5 {
    display: inline-flex;
    align-items: center;
}

.style-product_list .pro-container .pro-roomscene {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.style-product_list .pro-container .pro-roomscene .main-image {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    background: no-repeat right center;
    background-size: cover;
}

.style-product_list .pro-container .pro-roomscene .main-image>img {
    display: none;
    margin: 0 auto;
    max-width: none;
    width: auto;
    height: 100%;
}

.style-product_list .pro-container .pro-roomscene .main-image .exlusive-badge {
    position: absolute;
    bottom: 20px;
    left: 60px;
}

.style-product_list .pro-container .pro-roomscene .image-thumbnails {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.style-product_list .pro-container .pro-roomscene .image-thumbnails .toggle-image-holder {
    display: inline-block;
    vertical-align: top;
}

.style-product_list .pro-container .pro-roomscene .image-thumbnails .toggle-image-holder a {
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
}

.style-product_list .pro-container .pro-roomscene .image-thumbnails .toggle-image-holder.active a {
    border-width: 3px;
}

.style-product_list .pro-container .pro-details {
    padding: 100px 60px;
}

.style-product_list .pro-container .pro-details .style_name {
    color: #222;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 25px 0 5px;
}

.style-product_list .pro-container .pro-details .color_name {
    color: #222;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.style-product_list .pro-container .pro-details .pro_description {
    font-size: 14px;
    color: #222;
    text-align: center;
    line-break: 26px;
    font-weight: 300;
}

.style-product_list .pro-container .pro-details .button-wrapper {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
}

.style-product_list .pro-container .pro-details .button-wrapper a.button {
    width: 50%;
    padding: 14px 20px;
    display: inline-block;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    text-align: center;
    margin: 7px 5px;
    min-width: 220px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.47px;
    text-transform: uppercase;
}

.style-product_list .pro-container .pro-details .button-wrapper a.button:hover,
.style-product_list .pro-container .pro-details .button-wrapper a.button.alt {
    background: #000;
    color: #fff;
}

.style-product_list .pro-container .pro-details .button-wrapper a.button.alt:hover {
    background: #fff;
    color: #000;
}

.style-product_list .pro-container .pro-details .product-attributes {
    color: #222;
    font-weight: 400;
    font-size: 13px;
    padding: 0;
}

.style-product_list .pro-container .pro-details .product-attributes .table {
    margin: 15px 0 0;
    border-bottom: 1px solid #ddd;
}

.style-product_list .pro-container .pro-details .product-attributes .table>tbody>tr>th {
    width: 35%;
    text-transform: uppercase;
}

.style-product_list .pro-container .pro-details .product-attributes .table>tbody>tr>td {
    width: 65%;
}

.style-product_list .pro-container .pro-details .product-attributes .table>tbody>tr:first-child>th,
.style-product_list .pro-container .pro-details .product-attributes .table>tbody>tr:first-child>td {
    border-top: 0;
}


/*Back Button */

.back-button {
    background: none!important;
    color: #000!important;
    font-size: 16px!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
}

.back-button:hover {
    color: #2FB3BE!important;
}

.back-button:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url(resources/read-more-blue-arrow.png) no-repeat center;
    width: 23px;
    height: 23px;
    background-size: 10px;
    margin-right: 5px;
    margin-top: -2px;
    transform: rotate(180deg);
}

.down-pdf-text span {
    text-decoration: none!important;
}

.down-pdf-text span:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url(resources/read-more-blue-arrow.png) no-repeat center;
    width: 23px;
    height: 23px;
    background-size: 10px;
    margin-left: 5px;
}

#product-images-holder .exlusive-badge {
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-width: 100px;
}

#product-images-holder.colorwall-exlusive-batch .img-responsive {
    background: none !important;
    text-align: center;
}

#product-images-holder.colorwall-exlusive-batch .img-responsive img {
    display: block;
    width: auto;
    margin: 0 auto;
    position: static;
}

#product-images-holder.colorwall-exlusive-batch .img-responsive .main-imgs {
    position: relative;
    display: inline-block;
    height: 100%;
    width: auto;
}

#product-images-holder.colorwall-exlusive-batch .img-responsive .main-imgs:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 97px;
    height: 96px;
    background: url(images/exclusive-products-icon.png) no-repeat center;
}

@media (max-width: 1199px) {
    .colors-list ul {
        margin: 0;
    }
    .style-list .style-list-inner ul {
        margin: 0;
    }
}

@media (max-width: 991px) {
    .colors-list ul li {
        width: 33.33%;
    }
    .style-product_list .pro-container>.row,
    .style-product_list .pro-container>.row>.col-md-5 {
        display: block;
    }
    .style-product_list .pro-container>.row>.col-md-7 {
        width: auto;
        padding: 0;
        margin: 0 -5px;
    }
    .style-product_list .pro-container .pro-roomscene .main-image {
        position: relative;
        min-height: 450px;
        background-position: bottom right;
    }
    .style-product_list .pro-container .pro-details {
        padding: 50px 20px;
    }
    .style-list {
        padding-top: 0;
    }
    .style-list .back-button {
        position: absolute;
        top: -50px;
        left: -20px;
        z-index: 99;
        font-size: 0 !important;
        cursor: pointer;
    }
    .style-list .back-button:before {
        background-size: auto;
    }
    .style-list .style-list-inner {
        width: auto;
        position: relative;
        overflow-x: auto;
        margin: -20px -20px 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .style-list .style-list-inner ul {
        width: max-content;
        padding: 0 100px;
    }
    .style-list .style-list-inner ul li {
        max-width: 330px;
    }
}

@media (max-width: 769px) {
    .colors-list ul {
        margin: 0 -15px;
    }
    .style-product_list .pro-container>.row {
        margin: 0 -15px;
    }
}

@media (max-width: 767px) {
    .colors-list ul li {
        width: 50%;
    }
    .style-product_list .pro-container .pro-details .button-wrapper,
    .style-product_list .pro-container .pro-details .button-wrapper a.button {
        display: block;
        width: auto;
    }
    .style-product_list .pro-container .pro-details .product-attributes .table>tbody>tr>th,
    .style-product_list .pro-container .pro-details .product-attributes .table>tbody>tr>td {
        width: 50%;
    }
    .style-product_list .pro-container .pro-roomscene .main-image .exlusive-badge {
        left: 20px;
    }
}

@media (max-width: 499px) {
    .colors-list ul li {
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .colors-list ul li .product-info-box-inner h6 {
        font-size: 22px;
    }
    .colors-list ul li .readmore-link {
        font-size: 12px;
    }
    .colors-list ul li .readmore-link:after {
        background-size: 8px;
        margin-left: 2px;
    }
    .style-list .style-list-inner ul {
        padding: 0px 0px 0px 10px;
    }
    /* .style-list .style-list-inner ul li{ max-width: 230px; padding: 0px; margin: 0 5px;} 
    .style-list ul li .style-li-inner .prod_img { max-height: 200px;}*/
    .style-list .style-list-inner ul li {
        max-width: 162px;
        padding: 0px;
        margin: 0 5px;
    }
    .style-list ul li .style-li-inner .prod_img {
        max-height: 144px;
    }
    .style-list ul li .product-info-box {
        padding: 10px;
    }
    .style-list ul li .product-info-box h6 {
        font-size: 12px;
    }
    .style-product_list .pro-container .pro-details {
        padding: 40px 15px;
    }
}


/*END CSS added by ram for contnat form alignment*/

@media print {
    @page {
        size: auto;
        margin: 0mm;
    }
    header,
    footer,
    .hideForPrint,
    .fl-page-bar {
        display: none;
    }
    .borderDashed {
        margin: 20px auto;
    }
    h1,
    h1.fl-heading,
    h1.fl-heading * {
        color: #2fb3be;
    }
    h5,
    h5.fl-heading,
    h5.fl-heading * {
        color: #e0572c;
    }
    .wpsl-location-directions,
    .semGlobalHeader,
    .SEMFooterMain {
        display: none;
    }
    #printCoupon>.fl-row-content-wrap {
        padding: 20px;
    }
    #printCoupon img.fl-photo-img {
        height: 200px;
        width: auto;
    }
    a[href]::after {
        content: none !important;
    }
}

@media(max-width:1190px) {
    article.page #wpsl-wrap {
        padding: 0 20px;
    }
}

@media(max-width:1024px) {
    .fl-page-header-primary .fl-logo-img {
        height: auto !important;
        width: auto;
        max-width: 237px;
    }
    .header_store div.wpsl-search-widget {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width:767px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    .numberOflist .fl-module-callout .fl-callout-content:before {
        position: static;
        width: 100%;
        text-align: center;
        display: block;
    }
    .collectionLinks .uabb-cl-ul {
        display: flex;
        justify-content: space-evenly;
        padding: 15px 0;
    }
    .gform_wrapper .gfield_label,
    .customCheckbox .gfield_consent_label {
        color: #000;
        font-size: 13px !important;
    }
    .customCheckbox span.gfield_required {
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    .fl-page-nav ul.navbar-nav>li>a:after {
        visibility: hidden;
    }
}

@media (min-width: 768px) and (max-width:992px) {
    .clearBoth {
        clear: both !important;
    }
    .fl-col-group.fl-col-group-responsive-reversed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -ms-box-orient: horizontal;
        -webkit-flex-flow: row wrap;
    }
    .fl-col-group.fl-col-group-responsive-reversed .fl-col {
        -webkit-box-flex: 0 0 100%;
        -moz-box-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-ordinal-group: 12;
        /* OLD - Firefox 19- */
        -ms-flex-order: 12;
        /* TWEENER - IE 10 */
        -webkit-order: 12;
        /* NEW - Chrome */
        order: 12;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
        -webkit-box-ordinal-group: 10;
        -moz-box-ordinal-group: 10;
        -ms-flex-order: 10;
        -webkit-order: 10;
        order: 10;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
        -webkit-box-ordinal-group: 9;
        -moz-box-ordinal-group: 9;
        -ms-flex-order: 9;
        -webkit-order: 9;
        order: 9;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
        -webkit-box-ordinal-group: 8;
        -moz-box-ordinal-group: 8;
        -ms-flex-order: 8;
        -webkit-order: 8;
        order: 8;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
        -webkit-box-ordinal-group: 7;
        -moz-box-ordinal-group: 7;
        -ms-flex-order: 7;
        -webkit-order: 7;
        order: 7;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
        -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        -ms-flex-order: 6;
        -webkit-order: 6;
        order: 6;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 5;
        -webkit-order: 5;
        order: 5;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    /* .fl-col.fl-col-small,
    .fl-col-group.fl-col-group-responsive-reversed .fl-col-small {
        max-width: 650px;
    } */
    /*  Navigation	 */
    .fl-page-nav ul.navbar-nav>li>a {
        padding: 15px 5px;
    }
    /* 	Footer Responsive  */
    .footerLinks .fl-col.fl-col-small,
    .footerCopyright .fl-col.fl-col-small {
        float: left;
        clear: unset;
        padding: 0 10px;
        width: 50% !important;
    }
    /* home page flooring brands */
    .flooringBrands .fl-col.fl-col-small {
        float: left;
        clear: unset;
    }
    /* Flooring Landing pages */
    .pageScrollTabs .fl-col-group {
        display: flex;
        padding: 0;
        max-width: 700px;
        margin: 0 auto;
    }
    .pageScrollTabs .fl-col-group .njba-btn-main a.njba-btn {
        padding: 20px;
    }
    /* CSS Added By SP */
    .footerLinks>.fl-row-content-wrap>.fl-row-content>.fl-col-group>.fl-col:last-child {
        width: 100% !important;
        margin-top: 20px;
    }
}

@media (max-width: 999px) {
    /* .fl-page { -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s;} */
    .responsive-menu-open .fl-page:after {
        z-index: 9;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.51);
    }
    .responsive-menu-open .fl-page {
        margin-left: 75%;
        width: 100vw;
    }
    .responsive-menu-open button#responsive-menu-button {
        transform: translateX(0) !important;
    }
    /* responsive Menu */
    .fl-page-nav-search form {
        width: 100%;
    }
    .fl-page-header-container {
        padding: 10px 20px !important;
    }
    .fl-page-header-primary {
        position: relative;
    }
    .fl-page-header .fl-page-header-text .top-links li.headStoreDesktop {
        position: static;
    }
    .fl-page-header .fl-page-header-text .top-links .headStoreDesktop>.open-stores {
        display: none;
    }
    .fl-page-header .fl-page-header-text .top-links .headStoreMobile {
        display: block;
        position: static;
        margin: 0 10px 0 0;
    }
    .fl-page-header .fl-page-header-text .top-links .headStoreMobile .storeNamePhone {
        border-top: 1px solid #222;
        position: absolute;
        left: 0;
        right: 0;
        font-size: 10px;
        background: #ffffff;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        top: 100%;
        z-index: 9;
        /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); */
    }
    .fl-page-header .fl-page-header-text .top-links {
        display: flex;
        flex-direction: column;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-wrap {
        display: none;
    }
    .responsiveHeader {
        display: flex !important;
        flex: 1;
    }
    .fl-page-header .fl-page-header-content .fl-page-header-text {
        margin: 0;
    }
    .responsiveHeader>* {
        display: flex !important;
        align-items: center;
        flex: 1;
        padding: 0;
    }
    .responsiveHeader>.col-md-8 {
        position: static;
        justify-content: flex-end;
    }
    .responsiveHeader>.col-md-8 .fl-page-header-content {
        display: flex;
        align-items: center;
    }
    .fl-page-nav-search a.fa-search {
        width: 40px;
    }
    /* myStoreMarker */
    .header_store.active {
        margin-top: 0;
    }
    .header_store {
        width: 100%;
        left: 0;
        right: 0;
    }
    .headStoreMobile>.open-stores .fa.fa-map-marker {
        font-size: 24px;
        vertical-align: sub;
    }
    .headStoreMobile>.open-stores>span {
        font-size: 12px;
        width: 40px;
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        line-height: 1.2;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow {
        font-size: 0;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow:before {
        content: "\f105";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: 20px;
        -moz-osx-font-smoothing: grayscale;
        line-height: 38px;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item a:hover .responsive-menu-subarrow.responsive-menu-subarrow-active,
    #responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow.responsive-menu-subarrow-active {
        transform: rotate(90deg);
    }
    /* Header */
    .fl-page-header-primary .fl-logo-img {
        height: auto !important;
    }
    .fl-page-nav ul.navbar-nav>li>a:after {
        visibility: visible;
    }
    .fl-page-header .fl-page-header-row .fl-page-header-logo {
        margin-bottom: 0;
        margin-left: 10px;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse ul.navbar-nav>li {
        padding: 0 20px;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle {
        margin-bottom: 20px;
    }
    .fl-page-header-primary .fl-logo-img {
        height: auto !important;
        max-height: 40px !important;
        max-width: 100%;
        width: auto !important;
    }
    /* .product-row .fl-post-grid-image {
        height: auto;
    } */
    .fl-post-grid-post {
        min-height: auto;
    }
    article.page #wpsl-wrap {
        flex-direction: column;
    }
    article.page #wpsl-wrap #wpsl-result-list,
    article.page #wpsl-wrap #wpsl-gmap {
        width: 100%;
    }
    article.page #wpsl-wrap #wpsl-gmap {
        height: 300px !important;
    }
    article.page #wpsl-wrap #wpsl-stores {
        flex: 0;
        height: auto !important;
    }
    article.page #wpsl-wrap #wpsl-result-list #wpsl-stores>ul>li {
        margin-right: 0;
    }
}

@media (max-width: 992px) {
    .fl-col.fl-col-small,
    .fl-col-group.fl-col-group-responsive-reversed .fl-col-small,
    .fl-col-group-equal-height .fl-col-content {
        max-width: none;
    }
    .bg-img-none-res>.fl-row-content-wrap,
    .bg-img-none-res>.fl-node-content {
        background-image: none;
    }
    .use-current-loc-wrap {
        position: absolute;
        top: 340px;
        left: 0;
        right: 0;
        padding: 0 20px;
        z-index: 99;
    }
    .use-current-loc-wrap>.fl-module-content {
        margin-top: 0 !important;
    }
    article.page #wpsl-wrap #wpsl-gmap {
        margin-bottom: 60px;
    }
}

@media (max-width: 991px) {
    .product-detail-top {
        padding-top: 30px;
    }
    .product-detail-top>.row {
        flex-wrap: wrap;
        align-items: normal;
    }
    .product-detail-top .product-box .product-box-inner {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .product-detail-top .product-box .product-box-inner .button-wrapper {
        width: 100%;
        text-align: center;
        display: block;
    }
    .product-detail-top .product-box .product-box-inner .product-gallery {
        order: -1;
        width: 100%;
    }
    .product-detail-top .product-box .product-box-inner .product-gallery .toggle-image-thumbnails:not(.slick-slider) {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .text-center .fl-callout-content {
        text-align: center;
    }
    .use-current-loc-wrap {
        top: 320px;
    }
}

@media (max-width: 767px) {
    /* CSS Added By SP */
    .fl-col-small {
        max-width: 100%;
    }
    .footerLinks {
        border-top: 1px solid #000;
        margin-top: 20px;
    }
    .footerLinks>.fl-row-content-wrap>.fl-row-content>.fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    .footerLinks>.fl-row-content-wrap>.fl-row-content>.fl-col-group>.fl-col {
        width: 100% !important;
        max-width: 100%;
    }
    .footerLinks>.fl-row-content-wrap>.fl-row-content>.fl-col-group>.fl-col:last-child {
        order: -1;
    }
    article.page #wpsl-wrap {
        padding: 0;
    }
    article.page #wpsl-wrap #wpsl-result-list {
        padding: 0 20px;
    }
    .product-row .fl-post-grid-image .button-wrapper {
        display: none;
    }
    div#sfnlocator-wrap {
        width: 100%;
        padding: 0;
    }
    /* detail page  */
    .productDiscription {
        display: flex;
        padding: 10px 0 0;
    }
    .productDiscription .product-logo {
        height: 70px;
    }
    .productDiscription .descDetails {
        padding-left: 15px;
        text-align: left
    }
    .productDiscription .fl-post-title-collection {
        font-size: 10px;
        font-weight: 500;
    }
    .productDiscription .fl-post-title-color {
        font-size: 14px;
        font-weight: 500;
    }
    .button-wrapper {
        display: flex;
    }
    .product-box .button-wrapper a.button {
        font-size: 12px;
        padding: 10px;
        min-width: 120px;
        margin: 15px 5px;
    }
    .product-variations>h3 {
        font-weight: 600;
        text-align: center;
    }
    .product-attributes {
        padding: 0;
    }
    .product-attributes>h3 {
        font-weight: 500;
    }
    .product-attributes .table>tbody>tr>th {
        color: #222;
        width: 110px;
    }
    .product-variations .slick-initialized .slick-slide small {
        color: #222;
        font-size: 13px;
        text-align: center;
        font-weight: 500;
        display: block;
    }
}

@media (max-width: 479px) {
    .facetwp-template .product-grid .product-row>.col-md-4 {
        width: 100%;
    }
    .facetwp-template .product-grid .product-row .fl-post-grid-post {
        text-align: center;
    }
    .facetwp-template .product-grid .product-row .fl-post-grid-image {
        display: inline-block;
    }
    .facetwp-template .product-grid .product-row .fl-post-grid-image>a>img {
        min-width: 100%;
        min-height: 100%;
        height: auto;
        width: auto;
    }
    span.topbar-coupon {
        margin: 0;
        display: block;
    }
    #product-images-holder {
        min-height: 350px;
    }
    .product-swatch .img-responsive {
        background-position: center;
    }
    #gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul>li {
        flex-direction: column;
        padding: 15px 0;
    }
    #gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul>li .Store_list_item {
        margin-bottom: 10px;
        width: 100%;
    }
    #gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul>li .store_map_link {
        width: 100%;
    }
    #gform_page_16_2>.gform_page_fields>ul>#field_16_21>ul>li .storeDetails {
        display: inline-block;
        padding: 5px 0;
        margin: 0;
    }
    .customCheckbox input+label:before {
        margin-right: 10px;
    }
    .flooringBrands .fl-col-group {
        display: flex;
    }
    /* listing page */
    .product-grid {
        display: flex;
        justify-content: space-between;
    }
    .product-grid .colletionTitle {
        text-align: left;
        padding-right: 10px
    }
    .product-grid .colletionTitle h4 {
        font-size: 9px;
        color: #626262;
    }
    .product-grid .colletionTitle .fl-post-grid-title {
        font-size: 16px
    }
    .product-grid .color-count {
        text-align: right;
        font-size: 9px;
        white-space: nowrap;
    }
}

.customeScrollButtons .fl-col-group {
    display: flex;
}

.customeScrollButtons .fl-col {
    flex: 1;
}

.customeScrollButtons a.njba-btn {
    color: rgb(98, 98, 98);
    font-size: 18px;
    line-height: 18px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: inline-block;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
    border-width: 1px;
    border-style: none;
    border-color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
}

.couponDisclaimer {
    font-size: 11px;
    text-align: justify;
}

#printCoupon {
    text-align: center;
}

.product-row .fl-post-grid-image>a .exlusive-badge {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.product-row .fl-post-grid-image>a .exlusive-badge img {
    width: auto;
    max-width: 60px;
}

#product-images-holder .exlusive-badge {
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-width: 100px;
}


/* Featured Products */

.featured-products .featured-product-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.featured-products .featured-product-list .featured-product-item {
    width: 25%;
}

.featured-inner {
    padding: 0 15px;
    margin: 0 0 20px;
}

.featured-products .featured-product-list .featured-product-item .prod-img-wrap {
    position: relative;
    overflow: hidden;
    background: #fff;
    display: flex;
    min-height: 310px;
    align-items: center;
    border: 1px solid #ccc;
}

.featured-products .featured-product-list .featured-product-item .prod-img-wrap img {
    max-width: none;
    max-height: 310px;
    width: auto;
    margin: 0 auto;
}

.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
}

.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button {
    position: relative;
    top: 50px;
    background: #fff;
    border: 1px solid #fff;
    font-size: 12px;
    transition: top 0.3s;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
    -ms-transition: top 0.3s;
}

.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button:hover {
    background: #212121;
    color: #fff;
}

.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button.alt {
    background: #a1907e;
    border-color: #a1907e;
}

.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button.alt:hover {
    background: #fff;
    color: #a1907e;
}

.featured-products .featured-product-list .featured-product-item .prod-img-wrap:hover .button-wrapper {
    opacity: 1;
    visibility: visible;
}

.featured-products .featured-product-list .featured-product-item .prod-img-wrap:hover .button-wrapper .button {
    top: 0;
}

.featured-products .featured-product-list .featured-product-item .product-info h5 {
    margin: 15px 0 0px;
    clear: both;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #212121;
}

.featured-products .featured-product-list .featured-product-item .product-info h5 a {
    color: #212121;
}

.featured-products .featured-product-list .featured-product-item .product-info h6 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
}

.featured-products .slick-arrow {
    position: absolute;
    top: -70px;
    right: 15px;
    background: none;
    border: 0;
    font-size: 0;
    display: block;
    padding: 0;
    opacity: 0.6;
}

.featured-products .slick-arrow:hover {
    opacity: 1;
}

.featured-products .slick-arrow.slick-disabled {
    opacity: 0.2;
    cursor: default;
}

.featured-products .slick-arrow:before {
    content: "\f105";
    font: normal normal normal 30px/1 FontAwesome;
    color: #000;
}

.featured-products .slick-arrow.slick-prev {
    right: 40px;
}

.featured-products .slick-arrow.slick-prev:before {
    content: "\f104";
}


/* Featured Products  end*/

.floorte-prohead {
    color: #000000;
    font-size: 23px;
    line-height: 34px;
    margin: 0;
    font-weight: 500;
}

.floorte-subprohead {
    color: #000000;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 24px;
    font-weight: 300;
}

.floorte-inner {
    text-align: center;
}

.floorte-inner .productDiscription>* {
    margin: 10px 0;
}

.floorte_brandlogo {
    margin: 10px;
}

.floorte-inner h3.fl-post-title-color {
    font-size: 14px;
    font-weight: 600;
}

.floorte-inner .floorte_brand {
    font-size: 13px;
    font-weight: 400;
}

.floorte-inner .fl-post-title-collection {
    font-size: 28px;
    font-weight: 500;
}


/* Facet design changes */

.facet_filters .facetwp-type-fselect .fs-wrap,
.facet_filters .facetwp-type-fselect .fs-dropdown {
    width: 100%;
    border: 0;
    outline: none;
}

.facet_filters .fs-label-wrap {
    display: none;
}

.facet_filters .facetwp-type-fselect .fs-option .fs-option-label {
    white-space: normal;
}

.facet_filters .fs-dropdown {
    position: relative;
    display: block !important;
}

.facet_filters .fs-dropdown>*:not(.fs-options) {
    display: none;
}

.facet_filters .fs-wrap.multiple .fs-option {
    border: 0;
    padding-left: 0;
}

.facet_filters .fs-wrap.multiple .fs-option .fs-checkbox {
    display: none;
}

.facet_filters .fs-wrap.multiple .fs-option.selected .fs-option-label {
    color: #454545;
    font-weight: 600;
}

.fs-options::-webkit-scrollbar-track {
    /* 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #a9a9a9; */
}

.fs-options::-webkit-scrollbar {
    width: 4px;
    right: -2px;
}

.fs-dropdown:after {
    content: '';
    height: 100%;
    width: 1px;
    background: #A9A9A9;
    position: absolute;
    right: 0.95px;
    top: 0;
    z-index: -1;
}

.fs-options::-webkit-scrollbar-thumb {
    /* 	border-radius: 10px; */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #000000;
}


/* Selection change for multiselect facet  start*/

.facetwp-facet-floorte_collection .fs-options {
    display: flex;
    flex-direction: column;
}

.facetwp-facet-floorte_collection .fs-options .fs-option {
    order: 1;
}

.facetwp-facet-floorte_collection .fs-options .fs-option.selected {
    order: 0;
}


/* Selection change for multiselect facet  end*/

@media(max-width:567px) {
    .productDiscription {
        flex-direction: column;
        align-items: center;
    }
    .productDiscription .descDetails {
        text-align: center;
    }
}